/**
TODO: mudar o nome do que ta aqui em baixo
 * @section Base Styles
 */

.section {
	
	.title-section {
		font-size: 36px;
	}
	
	.text-section {
		font-size: 24px;
	}

	outline: 1px solid magenta;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: red !important;
}