/**
TODO: mudar o nome do que ta aqui em baixo
 * @section Base Styles
 */

.section {
	
	.title-section {
		font-size: 36px;
	}
	
	.text-section {
		font-size: 24px;
	}

	outline: 1px solid magenta;
}