/**
TODO: mudar o nome do que ta aqui em baixo
 * @section Base Styles
 */

.section {
	
	.title-section {
		font-size: 36px;
	}
	
	.text-section {
		font-size: 24px;
	}

	outline: 1px solid magenta;
}








body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: red !important;
}

.navbar {

	&.navbar-default {
		background-color: transparent;
		border-color: transparent;
	}

	.navbar-brand {

		img {
			height: 2em;
		}
	}

	.navbar-nav {

		li {

			a {
				text-transform: uppercase;
				opacity: 0.7;
				font-weight: 600;
				color: #FFF;
				font-size: 1.1em;
				transition: all 0.3s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.header {
	position: relative;
	width: 100%;
	min-height: auto;
	background-color: linear-gradient(to right, #02D4A7, #01B4A0);
	color: #FFF;
	padding: 11em 0;
	height: 600px;

	h1 {
		font-size: 4.3em;
	}

	h2 {
		font-weight: 300;
	}

	.btn-header-custom {
		color: #0BB297;
		background: #FFF;
		border: 1px solid #FFF;
		margin: 1.5em 0;
		transition: all 0.3s;

		&:hover,
		&:focus {
			background: transparent;
			color: #FFF;
			border: 1px solid #FFF;
		}
	}
}

.header-svg {
	position: relative;

	.sep {
		width: 100%;
		height: 7.2em;
		position: absolute;
		top: -99px;
		left: 0;
		bottom: auto;
		z-index: 1000;

		path {
			fill: #FFF;
		}
	}
	
	svg:not(:root) {
		overflow: hidden;
	}
}