/**
TODO: mudar o nome do que ta aqui em baixo
 * @section Base Styles
 */

#section-6 {
    display: flex;
    align-items: center;
    min-height: 500px;

	.title-section {
        margin: 0 350px;
        text-align: center;
    }
}