/**
TODO: mudar o nome do que ta aqui em baixo
 * @section Base Styles
 */

 #section-5 {
    .title-section {
        margin: 80px 0 0;
        text-align: center;
    }

    .container-product {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;

        .product {
            width: 250px;

            &:not(:nth-child(4n)) {
                margin-right: 20px;
            }

            .category {
                text-align: center;
                text-transform: uppercase;
                margin-top: 80px;
                margin-bottom: 30px;
            }
            
            .flag {
                display: none;
            }

            .container-img {
                overflow: hidden;
                outline: 1px solid blue;

                height: 350px;
            }
            
            .price {
                display: block;
                width: 100%;
                text-align: center;
                margin: -30px 0 11px;
            }

            .name-product {
                text-align: center;
                margin: 30px 0;
            }

            .btn {
                width: 250px;
            }
        }
    }
}